
body{
    background-color: black;
}
#canvas{
    outline: white 3px solid;
    background:white;
    display:block;
    position:relative;
    border: 5px solid;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;

}
#canvasDiv{
    display: flex;
    justify-content: center;
}
